@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: 'Open Sans', cursive;
    /* cursor: url("./assets/images/cursos-image.svg"), auto; */
}

body {
    /* background: #bb6bd9; */
}

.election-bg-image {
    background-image: url("/src/assets/images/sphere-grid.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}