@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    /* cursor: url("./assets/images/cursos-image.svg"), auto; */
}

body {
    background: #bb6bd9;
}